* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	padding: 20px;
}

.h1 {
	font-size: 200%;
	text-align: center;
	font-weight: 900;
	padding: 50px;
}

.row {
	width: 100%;
}

.section {
	position: relative;
	background-color: blue;
	position: relative;
	padding: 20px;
	padding-top: 70px;
	border: 1px solid #afb0c4;
	background-color: #FFF8D0;
	margin: 10px;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #d0d2d6;
}

.title {
	position: absolute;
	text-transform: uppercase;
	text-decoration: white wavy underline;
	color: white;
	left: auto;
	right: 0px;
	bottom: auto;
	top: 0px;
	width: 170px;
	text-align: center;
	padding: 10px;
	padding-bottom: 13px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px
}

#chicken-section {
	background-color: #e3b8b8;
}

#beef-section {
	background-color: #FFF8D0;
}

#sushi-section {
	background-color: #d7e6cf;
}

#chicken {
	background-color: #bf5c5c;
	border: 1px solid #afb0c4;
}

#beef {
	background-color: #bfb05c;
	border: 1px solid #afb0c4;

}

#sushi {
	background-color: #60804e;
	border: 1px solid #afb0c4;

}

/*Desktop devices */
@media (min-width: 992px) {
  .section-lg-4{
  	float: left;
  	width: 33.33%;
  }
}

/*Tablet Devices */
@media (min-width: 768px) and (max-width: 991px) {
	.section-md-6, .section-md-12 {
  		float: left;
	}
  	.section-md-6 {
    	width: 50%;
  	}
  	.section-md-12 {
  		width: 100%;
  	}
}

/*Mobile Devices*/
@media (max-width: 767px) {
  .section-xs-12 {
    width: 100%;
    padding-bottom: 5px;
  }